{
    "N": 3,
    "W": [
        19,
        15,
        33
    ],
    "Y": [
        1,
        5,
        0
    ],
    "K": [
        [
            0,
            -1,
            0
        ],
        [
            -2,
            2,
            0
        ],
        [
            1,
            8,
            0
        ]
    ],
    "T": {
        "tMin": 0,
        "tMax": 2,
        "tN": 500
    }
}
